.Controls {
  &-commands {
    padding: 20px 0;
    text-align: center;
  }

  &-button {
    background: none;
    border: none;
    height: 40px;
    line-height: 12px;
    margin: 0 5px;
    padding: 12px;
    width: 40px;

    & svg {
      fill: #AAAAAA;
    }

    &:focus {
      outline: 0;
    }

    &--center {
      border: 1px solid #999999;
      border-radius: 35px;
    }
  }
}
