.player-container .player-iframes {
  bottom: 92px;
  height: 150px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 260px;
  z-index: 99;
}

.player-container .player-iframes .mount-node--inactive {
  display: none;
  visibility: hidden;
}
