.player {
  background: #ffffff;
  border-top: 1px solid #dddddd;
  bottom: 0;
  display: flex;
  height: 60px;
  left:0;
  padding: 17px 0 15px;
  position: fixed;
  right: 0;
}

.player .player-controls {
  align-items: center;
  display: flex;
  width: 220px;
}

.player .player-controls .control-buttons {
  padding-left: 10px;
}

.player .player-status {
  align-items: center;
  display: flex;
  flex: 1;
  text-align: center;
}

.player .player-status .song-status {
  flex: 1;
}

.player .player-utility {
  align-items: center;
  display: flex;
  width: 220px;
  justify-content: flex-end;
}

.player .player-utility .song-thumbnail {
  padding-right: 18px;
}
