---
  root: true
  extends:
    airbnb
  env:
    browser: true
    node: true
    es6: true
    protractor: true
    jasmine: true
    mocha: true
  rules:
    new-cap: 0
    no-underscore-dangle: 0
    import/extensions: 0
    import/prefer-default-export: 0
    import/no-unresolved: 0
    import/no-extraneous-dependencies: 0
