---
  root: true
  extends:
    airbnb
  env:
    browser: true
    node: true
    es6: true
    protractor: true
    jasmine: true
    mocha: true
  rules:
    import/no-extraneous-dependencies:
      - error
      - devDependencies:
        - "!src/**"
        - "**/__tests__/**"
        - "**/__stories__/**"
    new-cap: off
    no-underscore-dangle: off
    react/jsx-filename-extension: off
  settings:
    import/resolver:
      webpack:
        config: "webpack.config.js"
