// --------------------------------
// # Colors
// --------------------------------

$color-black:       #111111;
$color-black-light: #333333;
$color-blue:        #dddddd;
$color-gray:        #aaaaaa;
$color-gray-light:  #dddddd;


// --------------------------------
// # Font sizes
// --------------------------------

$type-size-base:   14px;
$type-size-small:  12px;
