// --------------------------------
// # Globals
// --------------------------------

@import "./contrib/normalize";


// --------------------------------
// # Layout
// --------------------------------

.app-container {
  margin-bottom: 150px;
  position: relative;

  .app-footer {
    bottom: 0;
    height: 150px;
    left: 0;
    position: fixed;
    right: 0;
  }
}

.reddit {
  display: flex;
  flex-wrap: wrap;

  aside {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 20%;

    .subreddits {
      flex-grow: 1;
      height: 100%;
    }
  }

  main {
    width: 80%;

    .listing-control {
      padding: 0 0 0 5px;
    }
  }
}

.iframe-container {
  bottom: 150px;
  height: 150px;
  left: 15px;
  position: fixed;
  right: 0;
  width: 220px;
}

.player-container {
  background: #ffffff;
  border-top: 1px solid #dddddd;
  height: 100%;
}


// --------------------------------
// # Basic Styling
// --------------------------------

.subreddits {
  border-right: 1px solid #dddddd;
}
