.Player {
  background: #222222;
  border-top: 1px solid #000000;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#player {  // sass-lint:disable-line no-ids
  // #player is not a part of a react component
  // it is managed manually since it wraps the youtube and soundcloud iframes
  // but since it is closely coupled with the Player component visually
  // we opt to style it here

  bottom: 100px;
  height: 170px;
  position: fixed;
  right: 10px;
  width: 33%;

  & .youtube {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;

    &.inactive {
      display: none;
    }
  }

  & .soundcloud {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;

    &.inactive {
      display: none;
    }
  }
}
