@import "../variables";

.song {
  border-top: 1px solid $color-gray-light;
  display: flex;
  flex-direction: row;

  .song__header {
    flex: 0 0 90px;

    .song__thumbnail {
      height: 70px;
      width: 70px;

      .thumbnail {
        height: auto;
        width: 100%;
      }
    }
  }

  .song__content {
    flex: 1;
    width: 60%;

    .song__tile {
      .title {
        color: $color-black-light;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .song__meta {
      .meta {
        color: $color-gray;
        display: inline-block;
        font-size: $type-size-small;
        margin-right: 10px;
      }
    }
  }

  .song__footer {
    flex: 0 0 100px;
  }
}
