.subreddit-container {
  display: flex;
  min-height: 100vh;
}

.subreddit-container-left {
  flex: 1;
  max-width: 300px;
  position: relative;
}

.subreddit-container-left .subreddit-listing {
  border-right: 1px solid #dddddd;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.subreddit-container-right {
  flex: 4;
}

.subreddit-container-right .posts-loader {
  padding-top: 15px;
}

.subreddit-container-right .subreddit-sort-controller {
  display: block;
  height: 50px;
  padding: 20px 0;
}

.subreddit-container-right .subreddit-sort-controller .sort-type-controller, .subreddit-container-right .subreddit-sort-controller .sort-range-controller {
  display: inline-block;
}
