<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  {% for css in cssPaths %}
    <link rel="stylesheet" href="{{ css | safe }}">
  {% endfor %}
</head>
<body>
  {% block content %}{% endblock %}
  {% for js in jsPaths %}
    <script src="{{ js | safe }}"></script>
  {% endfor %}
</body>
</html>
