@import "~screens/App/styles/global";

$link-color: #AAAAAA;
$text-color: #FFFFFF;
$lateral-spacing: 7rem;
$vertical-spacing: 3rem;

.Header {
  background: #14171C;
  color: $text-color;
  padding: $vertical-spacing 0;

  &-brand {
    display: flex;
  }

  &-brand a {
    align-items: center;
    color: $link-color;
    display: flex;
    text-decoration: none;
  }

  &-logo {
    padding: 0.25rem 2.75rem 0;
    width: $lateral-spacing;
  }

  &-logo svg {
    stroke: $link-color;
  }

  &-logo svg path {
    fill: $link-color;
  }

  &-siteName {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  &-callToAction {
    padding: 0 $lateral-spacing 0;

    & h2 {
      font-size: 1.75rem;
      line-height: 1.65;
      margin: 0;
      padding: $vertical-spacing 0 0;
    }
  }
}
